/* Import site defaults */
@import 'components/template/default.scss';
/* Import website style */
@import 'components/site/site.scss';

/* Code for site main header and nav here */
#map {
	height: 40em;
}
.nav-main {
	text-align: center;
} 
/* end of #mainHeader */

.hero-main {

}
/* Code for main content here */
.content-main {
	.container {
	
	}
	


} 
/* end of #mainContent */

/* Site Footer CSS here  */
.footer-main {
}

/* end of Footer CSS   */


